@import "../../../../../styles/variables.scss";

.search_searchInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 4px $default-shadow-color;

  .search_searchBtn {
    border: none;
    background: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: -2px 4px 0 10px;
    color: $header-search-icon;
    transition: color 0.2s ease;

    :hover {
      color: $header-search-icon-active;
    }
  }

  /*   .search_searchInput {
    height: 100%;
    flex: 1 1;
    color: #1a1a1a;
    font-size: 14px;
    border: none;
    border-radius: 0 30px 30px 0;
    padding-bottom: 2px;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
  } */

  /*   .search-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    left: 0!important;
    z-index: -1;

      .SearchResults_contentWrapper {
      position: absolute;
      top: 200px;
      left: 0;
      background: #fff;
      width: 100%;
      font-family: $base-font-family;
      z-index: 11;

      .SearchResults_content {
        //padding: 12px 0;

        .SearchSuggestList_listContainer {
          //display: flex;
          width: 770px;
          margin: auto;

          .SearchSuggestList_title {
            font-size: 13px;
            color: #a0a1a3;
            margin: 8px 6px 0;
            min-width: 128px;
            text-align: right;
          }

          .SearchSuggestList_link {
            text-decoration: none;
            -webkit-user-select: none;
            user-select: none;
            color: #1a1a1a;
            font-size: 14px;
            line-height: 20px;

            .ProductItem_productItem {
              display: flex;
              align-items: center;
              padding: 8px;
              margin: 1px 0 0 4px;
              cursor: pointer;
              width: 539px;

              .SuggestProductImage_image {
                width: 40px;
                min-width: 40px;
                height: 40px;
                mix-blend-mode: multiply;
                object-fit: contain;
                vertical-align: bottom;
              }

              .ProductItem_info {
                overflow: hidden;
                width: 100%;
                margin-left: 16px;

                .ProductItem_title {
                  font-size: 14px;
                }

                .ProductItem_price {
                  color: #a0a1a3;
                  font-size: 14px;
                  margin-top: 2px;
                  display: flex;
                  align-items: flex-start;
                }
              }
            }
          }
        }
      }
    }

    .SearchResults_backdrop {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(13, 13, 13, 0.5);
      height: 100%;
      width: 100%;
      z-index: 10;
    }
  } */

  &::ng-deep.search-form {
    width: 100%;
    .mat-form-field {
      width: 100%;
      .search_searchInput {
        height: 100%;
        flex: 1 1;
        color: #1a1a1a;
        font-size: 14px;
        border: none;
        border-radius: 0 30px 30px 0;
        padding-bottom: 2px;
        background: transparent;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: transparent;
      padding-left: 0;
    }
    .mat-form-field-appearance-fill .mat-form-field-infix {
      padding: 0 0 0 0;
    }
    .mat-form-field-underline {
      display: none;
    }
  }
}

// NGDEEEEEP

::ng-deep.cdk-overlay-container {
  .cdk-overlay-connected-position-bounding-box {
    .cdk-overlay-pane {
      /*       width: 100% !important;
      top: 96.7125px !important;
      left: 0 !important; */

      margin-top: 32px;
      margin-left: -4px;
      &::before {
        width: 100%;
        top: 96.7125px;
        left: 0;
        background: white;
      }
    }

    .mat-option {
      &:hover {
        background: #d627610d;
        color: #d62761;
      }
    }
  }
}

