<div class="l-homeblock l-base">
  <table class="b-exposition">
    <tbody>
      <tr>
        <td rowspan="2" class="exposition__item cr-exposition__slither">
          <div id="j-slither" class="b-slither">

            <div id="j-slither__slides" class="slither__slides">

              <div class="slither__slides__slide j-slither__slide">
                <div class="b-poster cr-poster-big j-poster cr-poster-manual j-ga_track j-promotion_main"
                  data-ga_action="24084 — Дача апрель 2022" data-ga_on="click" data-ga_label="main"
                  data-ga_category="MainBanners" data-gtm_id="24084_main" data-gtm_type="main" data-gtm_name="main"
                  data-gtm_creative="24084_Дача апрель 2022" data-gtm_position="main_10">
                  <a class="poster__link" href="/special_offers/dacha_all.html"></a>
                </div>
              </div>

            </div>

            <div id="j-slither__switcher" class="slither__switcher">
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch j__slither__active cr-slither__active"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
            </div>
          </div>
        </td>


        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion" data-ga_action="27480 — Шторы для террас"
            data-ga_on="click" data-ga_label="side" data-ga_category="MainBanners" data-gtm_id="27480_side"
            data-gtm_type="side" data-gtm_name="Шторы для террас" data-gtm_creative="27480_Шторы для террас"
            data-gtm_position="side_0">

            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Шторы для террас
              </div>
              <div class="poster__description">
              </div>

              <img class="poster__item j-poster__item" style="right: 3%; top: 31%;
					    max-height: 53%;" src="https://www.21vek.by/img/tmp/b/62beec39ec6ba1.jpg?1656679517">
              <div class="poster__note">
              </div>
            </div>

            <a class="poster__link" href="/curtains/1836163/"></a>
          </div>
        </td>


        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion" data-ga_action="24320 — Грили"
            data-ga_on="click" data-ga_label="side" data-ga_category="MainBanners" data-gtm_id="24320_side"
            data-gtm_type="side" data-gtm_name="Грили" data-gtm_creative="24320_Грили" data-gtm_position="side_1">
            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Грили
              </div>
              <div class="poster__description">
              </div>
              <img class="poster__item j-poster__item" style="right: 10%;
					top: 14%;
					max-height: 76%;"
                src="https://www.21vek.by/img/tmp/b/6253ef6daf82eky19018f_sundays_60da602fc4e95.jpeg?1656679105">

              <div class="poster__note">
              </div>
            </div>
            <a class="poster__link" href="/grills/"></a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion" data-ga_action="27365 — Кондиционеры"
            data-ga_on="click" data-ga_label="side" data-ga_category="MainBanners" data-gtm_id="27365_side"
            data-gtm_type="side" data-gtm_name="Кондиционеры" data-gtm_creative="27365_Кондиционеры"
            data-gtm_position="side_2">
            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Кондиционеры
              </div>
              <div class="poster__description">
              </div>
              <img class="poster__item j-poster__item" style="right: 4%;
					top: 38%;
					max-height: 30%;" src="https://www.21vek.by/img/tmp/b/62b98754d9b501.jpg?1656325987">

              <div class="poster__note">
              </div>
            </div>
            <a class="poster__link" href="/conditioners/"></a>
          </div>
        </td>
        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion" data-ga_action="27285 — Батуты"
            data-ga_on="click" data-ga_label="side" data-ga_category="MainBanners" data-gtm_id="27285_side"
            data-gtm_type="side" data-gtm_name="Батуты" data-gtm_creative="27285_Батуты" data-gtm_position="side_3">
            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Батуты
              </div>
              <div class="poster__description">
              </div>
              <img class="poster__item j-poster__item" style="right: 23%;
					top: 21%;
					max-height: 63%;" src="https://www.21vek.by/img/tmp/b/62b47e38411d9батут.png?1656679320">

              <div class="poster__note">
              </div>
            </div>
            <a class="poster__link" href="/tramps/6901/"></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
