<div class="l-homeblock l-base">
  <table class="b-exposition">
    <tbody>
      <tr>
        <td rowspan="2" class="exposition__item cr-exposition__slither">
          <div id="j-slither" class="b-slither">

            <div id="j-slither__slides" class="slither__slides">

              <div class="slither__slides__slide j-slither__slide">
                <div class="b-poster cr-poster-big j-poster cr-poster-manual j-ga_track j-promotion_main">
                  <a class="poster__link" href="/special_offers/dacha_all.html"></a>
                </div>
              </div>

            </div>

            <div id="j-slither__switcher" class="slither__switcher">
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch j__slither__active cr-slither__active"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
              <div class="slither__switcher__switch j__slither__switch"></div>
            </div>
          </div>
        </td>


        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion">

            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Шторы для террас
              </div>
              <div class="poster__description">
              </div>
<!-- style="right: 3%; top: 31%; max-height: 53%;" -->
              <img class="poster__item j-poster__item j-poster__item-1"
                src="https://www.21vek.by/img/tmp/b/62beec39ec6ba1.jpg?1656679517"
                alt="Шторы для террас">
              <div class="poster__note">
              </div>
            </div>

            <a class="poster__link" href="/curtains/1836163/"></a>
          </div>
        </td>


        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion">
            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Грили
              </div>
              <div class="poster__description">
              </div>
<!-- style="right: 10%; top: 14%; max-height: 76%;" -->
              <img class="poster__item j-poster__item j-poster__item-2"
                src="https://www.21vek.by/img/tmp/b/6253ef6daf82eky19018f_sundays_60da602fc4e95.jpeg?1656679105"
                alt="Грили">
              <div class="poster__note">
              </div>
            </div>
            <a class="poster__link" href="/grills/"></a>
          </div>
        </td>
      </tr>
      <tr>
        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion">
            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Кондиционеры
              </div>
              <div class="poster__description">
              </div>
<!-- style="right: 4%; top: 38%; max-height: 30%;" -->
              <img class="poster__item j-poster__item j-poster__item-3"
                src="https://www.21vek.by/img/tmp/b/62b98754d9b501.jpg?1656325987"
                alt="Кондиционеры">
              <div class="poster__note">
              </div>
            </div>
            <a class="poster__link" href="/conditioners/"></a>
          </div>
        </td>
        <td class="exposition__item cr-exposition__fixed">
          <div class="b-poster cr-poster-mini j-poster j-ga_track j-promotion">
            <div class="poster__content clearfix">
              <div class="poster__title">
                <div class="poster__label"></div>
                Батуты
              </div>
              <div class="poster__description">
              </div>
<!-- style="right: 23%; top: 21%; max-height: 63%;" -->
              <img class="poster__item j-poster__item j-poster__item-4"
                src="https://www.21vek.by/img/tmp/b/62b47e38411d9батут.png?1656679320"
                alt="Батуты">
              <div class="poster__note">
              </div>
            </div>
            <a class="poster__link" href="/tramps/6901/"></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
