<div class="l-content-wrapper">
  <div class="l-content l-base" id="content">
    <div class="b-content">

      <ul class="b-breadcrumbs">
        <li class="breadcrumbs__item cr-breadcrumbs__first"><a href="https://www.21vek.by/" class="breadcrumbs__link"
            title="На главную">Главная</a></li>
        <li class="breadcrumbs__item"><a href="https://www.21vek.by/garden/" class="breadcrumbs__link"
            title="К разделу «Дом и сад»">Дом и сад</a></li>
        <li class="breadcrumbs__item"><a href="https://www.21vek.by/picnic_items/" class="breadcrumbs__link"
            title="К разделу «Отдых и пикник»">Отдых и пикник</a></li>
      </ul>
      <h1 class="content__header cr-category_header">{{subCategoryId}}</h1>


      <div class="b-tools  g-box_lseparator">
        <ul class="tools-sort">
          <li class="tools-sort__item cr-tools-sort__uni cr-tools-sort__first cr-tools-sort__active">
            <b>Сортировать по:</b>
          </li>
          <li class="tools-sort__item cr-tools-sort__uni cr-tools-sort__first cr-tools-sort__active">
            <a href="https://www.21vek.by/pools/?order[popular]=desc" class="tools-sort__link j-tools_output">
              <span class="g-pseudo_href">популярности</span>
            </a>
          </li>
          <li class="tools-sort__item cr-tools-sort__bi cr-tools-sort__middle">
            <a href="https://www.21vek.by/pools/?order[price]=asc" class="tools-sort__link j-tools_output">
              <span class="g-pseudo_href">цене</span>
            </a>
          </li>
          <li class="tools-sort__item cr-tools-sort__uni cr-tools-sort__last">
            <a href="https://www.21vek.by/pools/?order[sale]=asc" class="tools-sort__link j-tools_output">
              <span class="g-pseudo_href">наличию</span>
            </a>
          </li>
        </ul>

      </div>

      <div id="search_result" class="search_result">
        <ul class="b-result" id="j-result-page">
          <div class="cr-catalog_top_paging ">

            <span class="cr-paging_nav">
              Страница 1/5
              <a rel="next" href="https://www.21vek.by/pools/page:2/" name="2" class="j-load_page">&gt;</a>
            </span>

          </div>

          <li *ngFor="let good of goods | async"
            class="result__item cr-result__full  g-box_lseparator g-box_lseparator_catalog">

            <dl>
              <div class="catalog-result__item_data">

                <dt class="result__root">

                  <div class="catalog-result__item_meta">
                    <span class="g-code">код {{good.id}}</span>
                    <span class="g-catalog-status cr-status__in">В наличии {{good.availableAmount}}шт</span>
                  </div>
                  <a [routerLink]="['/subcategories/',good.id]" class="result__link j-ga_track">
                    <span class="result__img">
                      <div class="g-label__smallbox">
                      </div>
                      <img [src]="good.imageUrls['0']" class="" [alt]="good.name">
                    </span>
                    <span class="result__name">{{good.name}}</span>
                  </a>
                  <div class="catalog-labels">
                  </div>
                </dt>

                <dd class="result__desc">
                  <div class="result__attrs">
                    <table>
                      <tbody>
                        <tr>
                          <td class="result__attr_var  cr-result__attr_odd">ID товара</td>
                          <td class="result__attr_val  cr-result__attr_odd">{{good.id}}</td>
                        </tr>
                        <tr>
                          <td class="result__attr_var ">Имя товара</td>
                          <td class="result__attr_val ">{{good.name}}</td>
                        </tr>
                        <tr>
                          <td class="result__attr_var  cr-result__attr_odd">В наличии</td>
                          <td class="result__attr_val  cr-result__attr_odd">{{good.availableAmount}}</td>
                        </tr>
                        <tr>
                          <td class="result__attr_var ">Рейтинг</td>
                          <td class="result__attr_val ">{{good.rating}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </dd>

              </div>

              <div class="catalog-result__item_tools result__tools">

                <span class=" g-price result__price cr-price__in">
                  <span
                    class="g-item-data j-item-data j-item-data6255926 j-item-data-real6255926 ">{{good.price}}</span>
                  <span class="g-price__unit result__priceunit">р.</span>
                </span>

                <span class="b-reviews-rate-catalog result__tools-item">
                  <span class="reviews-rate-catalog cr-reviews-rate"></span>
                </span>

                <form class="j-to_basket" method="post" action="/to_basket/?item=6255926&amp;special=0&amp;price=209.00">
                  <button class="g-button g-buybtn result__buybtn cr-buybtn__in j-ga_track">В корзину</button>
                </form>

              </div>
            </dl>
          </li>

        </ul>



        <div class="b-tools cr-tools_paginator g-box_lseparator" id="j-paginator">
          <input type="hidden" class="j-reload-page" data-link="https://www.21vek.by/pools/">
          <div class="cr-paginator_page_list"> Показано 1-60 из 290 </div>
          <span class="cr-curent cr-paging_link" name="1">1</span>
          <a href="https://www.21vek.by/pools/page:2/" class="j-load_page cr-paging_link" name="2">2</a>
          <a href="https://www.21vek.by/pools/page:3/" class="j-load_page cr-paging_link" name="3">3</a>
          <a href="https://www.21vek.by/pools/page:4/" class="j-load_page cr-paging_link" name="4">4</a>
          <a href="https://www.21vek.by/pools/page:5/" class="j-load_page cr-paging_link" name="5">5</a>
          <a rel="next" href="https://www.21vek.by/pools/page:2/" name="2" class="j-load_page cr-paging_link">&gt;</a>
        </div>
      </div>

      <div class="b-category_text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veniam rerum corporis accusantium aspernatur
          eligendi aut, molestias placeat amet reiciendis temporibus culpa ab praesentium, quibusdam quasi dolor? Nisi
          ratione illum itaque, ex vero et voluptates voluptatum deserunt iste maxime amet maiores accusantium nesciunt
          voluptate? Ullam illum ipsum libero temporibus excepturi?</p>

        <br>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi sed, voluptates perferendis adipisci
          necessitatibus magni sequi voluptas aliquam. Vel, inventore a quisquam recusandae unde tenetur dolorem
          architecto ab. Atque omnis magnam cum ea architecto iusto, veniam adipisci, distinctio temporibus, doloremque
          sapiente nesciunt quisquam? Beatae nemo eveniet, cupiditate, doloremque at adipisci itaque ducimus fugiat
          perferendis, explicabo nostrum accusamus aliquid consequatur iure perspiciatis. Harum dolor minima at rerum
          exercitationem, non illo impedit ipsa amet error voluptatum aliquam eos laborum unde, aspernatur architecto
          distinctio dolores perferendis repellat dolore eveniet repudiandae numquam vel? Tempore impedit magni vero
          soluta! Eum voluptatibus quam voluptatum tempore dolorum.</p>

        <br>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et expedita deleniti neque incidunt labore sed
          perspiciatis maiores a ut consequatur ipsa vitae dolorum, deserunt eligendi recusandae tenetur, optio
          dignissimos libero veritatis blanditiis? Magnam ullam quia, ipsa quibusdam quae maiores dolor mollitia nihil
          iure consectetur ipsum, fugit dolore, expedita dolores neque!</p>

        <br>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo nisi autem iure consequuntur dolore eos saepe
          rerum sapiente delectus molestiae voluptate excepturi quod cupiditate recusandae ab eum minima, voluptas
          similique est quia mollitia. Perferendis quisquam voluptatem nisi aliquam ad nesciunt incidunt quis ratione
          atque quia nam animi repudiandae ex ab quam placeat eligendi voluptatum itaque aut, officia fuga ipsam
          cupiditate. Omnis ut reiciendis sunt nesciunt quaerat accusamus quisquam? Facilis, quam?</p>

        <br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae velit sapiente cupiditate nesciunt sequi
          minus,
          officiis impedit nisi quasi dolorem sed tenetur, reprehenderit maiores quisquam nam itaque, deserunt et a
          animi
          culpa! Dolore quas cum voluptatum quod perferendis doloribus voluptates voluptas quia asperiores velit?
          Consectetur dolor error vel ratione aut accusamus sapiente aliquid, quod laborum nobis voluptates architecto
          minima omnis at natus impedit, harum sequi veniam? Mollitia iure iusto consequuntur!</p>
        <br>
        <br>
        Мы осуществляем доставку в Минск, Гомель, Брест,
        Могилев, Гродно и Витебск, а также в любую точку Беларуси!
      </div>

    </div>

  </div>
</div>
<p>
  {{categotyId | async }}
</p>

<!-- <ul>
  <li *ngFor="let good of goods | async" class="styles_promoItem">
    <a [routerLink]="['/subcategories/',good.id]">Название {{good.name}}</a>
    <img [src]="good.imageUrls['0']">
    <h3>Цена {{good.price}}</h3>
    <h3>Описание {{good.description}}</h3>

  </li>
</ul> -->
